$primary: '#00bcd4';
$secondary: '#ff9800';
$success: '#4caf50';
$info: '#2196f3';
$warning: '#ffc107';
$danger: '#f44336';
$light: '#f4f4f4';
$dark: '#212121';
$white: '#ffffff';
$black: '#000000';
$transparent: 'transparent';

